.form-div {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.form-lable {
    align-self: start;
}

.form-text {
    color: black;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    padding: 10px;
}

.form-input {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}