.home-body {
    display: flex;
}

.card-container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
  padding: 2em;
  flex-wrap: wrap;
}

.filter-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
    border-right: 1px solid #774307;
    overflow-y: scroll;
    height: 75vh;
}

.filter-div {
    margin: 10px 0;
    text-align: start;
}

.sideNav-label {
    font-weight: bold;
}

#create-new-listing {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 10px 17px;
    font-family: inherit;
    font-size: 24px;
}

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #828282; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #7a7a7a; 
  }