.home-body {
    display: flex;
}

.filter-container {
    width: 15%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid #774307;
}

.filter-div {
    margin: 10px 0;
    text-align: start;
}

.sideNav-label {
    font-weight: bold;
}

#create-new-listing {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    padding: 10px 17px;
    font-family: inherit;
    font-size: 24px;
}