.listing-body {
    width: fit-content;
    align-self: center;
    padding: 30px 0;
}

#root {
    display: flex;
    flex-direction: column;
}

.form-div {
    margin: 10px;
}

.select {
    color: white !important;
}